@charset "utf-8";
/* CSS Document */
p{
	color:gold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 17px;
	background-color: darkgrey;
	padding: 10px;
	
}

body{
	background-image: url("slike/ocean-ge02815dc9_1920.jpg");
}
a:link {color: black;
background-color: bisque;
	padding: 5px;
	line-height: 40px;
	border: 2px thick #473D04;
}
a:hover{
	background-color: burlywood
}
span{color: azure;}